
        body {
            background-color:thistle;
        }
        h1{
            font-size: 50px;
             text-align: center;
             color:seagreen;
            }
        h2{
            font-size: 40px;
            text-align: right;
            color: tomato;
            background-color:black;
        }